@model List<MyPortfolio.DAL.Entities.Portfolio>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        
        <div class="col-full">
            <h3>PORTFOLYO</h3>
            <h1>Son Projelerim</h1>

                <p class="lead">
                Bu bölümde, son yaptığım projeleri ve GitHub repository linklerini bulabilirsiniz.
                Projeler, son teknolojileri kullanarak geliştirdiğim kişisel veya okul projelerinden oluşuyor.
                Ayrıca, bu projeleri GitHub üzerinde açık kaynak olarak paylaşarak topluluğa katkıda bulunmayı hedefliyorum.
                Her proje hakkında daha fazla bilgi almak veya katkıda bulunmak için GitHub repository'lerini ziyaret edebilirsiniz.
                Geri bildirim veya sorularınız için bana ulaşmaktan çekinmeyin.
                </p>
        </div>
        
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.ImageUrl" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src=" @item.ImageUrl"
                                      alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>

                            <p class="item-folio__cat">
                                @item.SubTitle
                            </p>
                        </div>

                        <a href="@item.Url" target="_blank" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>
                        <div class="item-folio__caption">
                            <p>@item.Description</p>
                        </div>


                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            }
            </div>
        </div> <!-- end masonry -->

</section>

